:host {
  display: block;
  padding: 16px;
  margin: 0px 0px 2px 0px;
  background-color: white;  
}




.avatar {
	width: 40px;
 	border-radius: 20px;
	margin: 5px 15px 0px 0px;
}

h1 {
	margin: 0px 0px 5px 0px;
	font-size: 18px;
	font-weight: 300;
}

small {
	font-size: 12px;
	font-weight: 500;
	color: #999999;
}

é

.distance {
	margin-right: 2px;
	margin-left: 2px;

}


.comments {
	color: #285AA6;
	font-weight: 300;
	margin-left: 4px;
}


.comm-icon {
	width: 12px;
	margin-bottom: -2px;
	margin-right: 2px;
}



