:host {
  display: block;
  background-color: white;
  padding: 16px;
  height: 100%;
}



h1 {
	margin: 0px 0px 5px 0px;
	font-size: 26px;
	font-weight: 300;
}


core-icon-button {
	display: block;
	padding: 0px 0px 0px 0px;
}


small {
	font-size: 14px;
	font-weight: 500;
	color: #999999;
}


.avatar {
	width: 40px;
 	border-radius: 20px;
	margin: 4px 15px 0px 0px;
}

.nick {
	color: #285AA6;
	font-weight: 900;
	margin-right: 2px;
}


.berichtinfo {
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 20px;
}



.comments {
	color: #285AA6;
	font-weight: 300;
	margin-left: 4px;
}


.comm-icon {
	width: 12px;
	margin-bottom: -2px;
	margin-right: 2px;
}



