:host {
  display: block;
  background-color: white;
  padding: 16px;
  height: 100%;
}



h1 {
	margin: 0px 0px 5px 0px;
	font-size: 26px;
	font-weight: 300;
}


core-icon-button {
	display: block;
	padding: 0px 0px 0px 0px;
}


small {
	font-size: 12px;
	font-weight: 500;
	color: #285AA6;
}


.avatar {
	width: 40px;
 	border-radius: 20px;
	margin: 5px 15px 0px 0px;
}

.nick {
	color: #285AA6;
	font-weight: 900;
	margin-right: 2px;
}


.bericht {
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 20px;
}




