:host {
  display: block;
  margin: 0px 0px 10px 0px;
}

.comm-details {
	font-size: 12px;
	font-weight: 500;
	color: #999999;
	margin: 0px 0px 0px 0px;
	height: 30px;
}



.comm-avatar {
	width: 30px;
 	border-radius: 15px;
	margin: 15px 15px 0px 10px;
}



.comm-msg {
	font-size: 15px;
	font-weight: 300;
	color: black;
}