:host {
  display: block;
  font-family: 'Roboto', sans-serif;
}


#letteroverlay {
	width: 100%;
	height: 100%;
	z-index: 3;
}

#fctgeopostoverlay {
	width: 100%;
	height: 100%;
	z-index: 3;
}

paper-slider {
	width: 100%;
}

paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #999999;
}

paper-slider::shadow #sliderKnobInner {
  background-color: #4D4D4D;
}




#kaart_letterheads {
	  background-color: #EDEDED;
}







