:host {
  display: block;
  font-family: 'Roboto', sans-serif;
}


#letteroverlay {
	width: 100%;
	height: 100%;
	z-index: 3;
}

#openingscherm {
	height: 100%;
	background-color: white;
	padding: 20px;
	text-align: center;
	color:white;
}


#fctgeopostoverlay {
	width: 100%;
	height: 100%;
	z-index: 3;
}

.titel {
	font-size: 44px;
/*	color: #FF8939;
	border: 5px solid #FF8939;*/
	color: #285AA6;
	border: 5px solid #285AA6;
	
	padding-left: 10px;
	padding-right: 10px;

}

paper-slider {
	width: 100%;
}

paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #999999;
}

paper-slider::shadow #sliderKnobInner {
  background-color: #4D4D4D;
}




#kaart_letterheads {
	  background-color: #EDEDED;
}







